@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}

[epub|type~="z3998:hymn"] p + p{
	margin-top: 1em;
}

figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figcaption p + p{
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.vertical-double-figure img{
	max-height: 40vh
}

.vertical-double-figure img:nth-of-type(2){
	margin-top: 1em;
}

.horizontal-double-figure div {
    display: table-cell;
}

.horizontal-double-figure{
	border-spacing: 1em 0em;
}

@media (max-width: 600px) {
    .horizontal-double-figure div {
        display: block;
		width: 100%;
    }

	.horizontal-double-figure div:nth-of-type(2) {
		margin-top: 1em;
    }

}