@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figcaption i,
figcaption em{
	font-style: normal;
}

figure.full-page{
	break-after: page;
	break-before: page;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.telegram{
	font-variant: all-small-caps;
}

.vertical-double-figure > img{
	max-height: 40vh;
}

.vertical-double-figure > img + img{
	margin-top: 1em;
}

#illustration-42 > img:first-of-type{
	max-height: 31.6vh;
}

#illustration-42 > img:last-of-type{
	max-height: 48.4vh;
}

@media(max-width: 600px){
	.horizontal-double-figure > div > div{
		display: block;
		width: 100%;
	}

	.horizontal-double-figure > div > div:nth-of-type(2){
		margin-top: 1em;
	}
}

@media(min-width: 601px){
	.horizontal-double-figure{
		border-spacing: 1em 0;
		display: table;
		margin: 1em auto;
	}

	.horizontal-double-figure > div > div{
		display: table-cell;
	}
}

/* Chapter 9 image grid */
#illustration-22{
	margin: 1em auto 0;
}

#illustration-22 img{
	margin-bottom: 1em;
	max-height: 40vh;
}

#illustration-22 div:last-of-type > div:last-of-type > img{
	margin-bottom: 0;
}

@supports(display: table){
	#illustration-22{
		display: table;
	}

	#illustration-22 > div > div{
		display: table-cell;
	}

	#illustration-22 > div > div:first-of-type > img{
		margin-right: 1em;
	}

	#illustration-22 div:last-of-type > div > img{
		margin-bottom: 0;
	}

	#illustration-22 figcaption{
		caption-side: bottom;
		display: table-caption;
	}
}
/* End chapter 9 image grid */
